<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palautus lomake</title>
</head>
<body>
<form method="post">
    <input type="text" name="name" placeholder="Nimet" required>
    <select name="gender" required>
        {% for gen in genders %}
        <option value="{{ gen }}">{{ gen }}</option>
        {% endfor %}
    </select>
    <input type="text" name="age" placeholder="Ikä" required>
    <input type="submit" name="submit" value="Lähetä">
</form>
{% if error %}
   <b>{{ error }}</b>
{% endif %}
</body>
</html>
